@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      135deg,
      black,
      #300341
    )
    rgb(var(--background-start-rgb));
  font-size: larger;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  word-spacing: 0.1em;
}

.color-text {
  color: #cd5ff8;
}

.sticky {
  background-color: #1b1a2ea9 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.5rem 5rem !important;
  font-size: 1.2rem !important;

  @media (max-width: 767px) {
    background-color: #1b1a2ea9 !important;
    transition: all 0.3s ease-out 0s !important;
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
    backdrop-filter: blur(15px) !important;
    padding: 0.3rem 2rem !important;
  }
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-width: 0px !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #be50f4 !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  border-radius: 2px !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-link {
  padding: 0.8rem 2rem;

  @media (max-width: 767px) {
    padding: 0.5rem 1rem;
  }
}
